body {
  font-family: sans-serif;
}

ul{
  list-style-type: none;
}

.ng-hide:not(.ng-hide-animate) {
  display: block!important;
}

#site-title {
  width: 300px;
  display: block;
  margin: 0 auto;
}
