/*Styling for the entire page*/
body {
  font-family: sans-serif;
  /*overflow: hidden;
  position: absolute;*/
}

ul{
  list-style-type: none;
}

label {
  padding-right: 50px;
}

.text {
  width: 30%;
  margin-top: 5%;
  /*position: absolute;*/
}

/*.ng-hide:not(.ng-hide-animate) {
  display: block!important;
}*/

#site-title {
  width: 300px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

#site-subtitle {
  width: 600px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

#content-wrapper {
  position:absolute;
  width:100%;
}

#google-map {
  height: 400px;
  width: 600px;
  margin-left:40%;
  margin-top: -6%;
  /*position: absolute;*/
  /*margin-top: -25%;*/
}

#google-map.tabs-active {
  /*border: 10px solid green;*/
  margin-top: -33%;
}

#map-canvas {
  width: 100%;
  height: 100%;
}

#form {
  margin-top: 100px;
  /*position: absolute;*/
}

/*#edit-form {
  margin-top: 5%;
}*/

/*#places-section {

}*/

#place-view.ng-scope{
  /*height: 500px;*/
}


/*new form*/
.added-alert {
  background-color: lightgreen;
  width: 200px;
  height: 20px;
  border: 0.5px solid green;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
