/*Styling for the entire page*/
body {
  font-family: sans-serif;
  z-index: -1;
  position: absolute;
  width: 100%;
  background-color: white;
  /*overflow: hidden;
  */
}

.ng-hide:not(.ng-hide-animate) {
  display: none!important;
}

ul{
  list-style-type: none;
  margin-left: -30px;
}

label {
  /*padding-right: 50px;*/
  width: 200%;
}

input {
  width: 220%;
}

#username-input {
  width: 100%;
}

#password-input {
  width: 100%;
}

textarea {
  width: 220%;
  height: 60px;
}

.form-div {
  width: 300px;
}

.text {
  width: 30%;
  margin-top: 1.5%;
  /*position: absolute;*/
}

nav.tabs{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  width: 40%;
}

nav.tabs div{
  display: inline-block;
  width: 25%;
  height: 30px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: -20px;
  padding-top: 25px;
  padding-left: 10px;
  padding-right: 5px;
  padding-bottom: 20px;
  color: #595959;
  background-color:  #bfbfbf;
  border-radius: 5px;
}

nav.tabs div:hover{
  color:  #e6008a;
  cursor: pointer;
}

/*nav.tabs button:active{
  padding: 5px;
  color: #ff471a;
  background-color: rgb(230, 184, 0);
}*/

#link-all.active {
  background-color: #e6e6e6;
}

#new-spot.active {
  background-color: #e6e6e6;
}

#my-places.active {
  background-color: #e6e6e6;
}

#site-title {
  font-family: 'Signika', sans-serif;
  color: #e6008a;
  font-size: 50px;
  width: 300px;
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  text-align: center;
}

#site-subtitle {
  font-family: 'Roboto Condensed', sans-serif;
  color: #595959;
  width: 600px;
  font-size: 20px;
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

#content-wrapper {
  position:absolute;
  z-index: 0;
  position: absolute;
  width:100%;
}

#art-list {
  margin-left: 25px;
  margin-right: 10px;
}

/*Google Map*/
#google-map {
  height: 700px;
  width: 100%;
  margin-top: 0;
  z-index: 1;
  position: absolute;
  /*margin-top: -25%;*/
}

#map-canvas {
  width: 98%;
  height: 830px;
  margin-bottom: 200px;
}

/*Log In*/

/*New and edit forms*/
.form-wrapper {
  width: 100%;
  margin-left: 5%;
  margin-top: 10%;
  /*margin-left: 25px;*/
}

form {
  width: 100%;
  /*margin-top: 50px;*/
  /*position: absolute;*/
}

text-area {
  width: 150%;
  height: 100px;
}

/*new form*/
.added-alert {
  background-color: lightgreen;
  width: 200px;
  height: 20px;
  border: 0.5px solid green;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

#login {
  float: right;
  margin-right: 30px;
  margin-bottom: 100px;
}

/*#login-form {
  width: 200%;
}*/

#login-link {
  font-family: 'Roboto Condensed', sans-serif;
  float: right;
  margin-top: 15px;
  margin-right: 40px;
  font-size: 18px;
}
/*#edit-form {
  margin-top: 5%;
}*/

#places-section {
  z-index: 2;
  position: absolute;
  background-color: #e6e6e6;
  height: 830px;
  width: 40%;
  border-radius: 5px;
  /*border: 1px solid black;*/
  margin-top: 0px;
  margin-left: 0px;
}

/*#user-places {
  z-index: 2;
  position: absolute;
  background-color: #e6e6e6;
  height: 630px;
  width: 40%;
  border-radius: 5px;
  /*border: 1px solid black;*/
  /*margin-top: 0px;
  margin-left: 0;
}*/

/* List of locations */
#list-header {
  font-family: 'Roboto Condensed', sans-serif;
  width: 40%;
  font-size: 26px;
  color: #595959;
  /*border-bottom: 1px solid #595959;*/
}

#place-view {
  margin-bottom: 30px;
  /*width: 70%;
  padding: 30px;
  background-color: #f2f2f2;*/
}

#place-view.self-active{
  height: 300px;
}

#place-view h1 {
  color: #595959;
  margin-bottom: 10px;
}

#place-view h3 {
  font-size: 16px;
  color: #595959;
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 0px;
}


#place-view-links a{
  text-decoration: none;
  background-color: #cce5ff;
  color: black;
  font-size: 15px;
  padding: 10px;
  box-shadow: 5px 5px 10px #888888;
}

#place-view-links a:hover {
  color: #f2f2f2;
  background-color: #595959;
}

#edit-link {
  margin-right: 30px;
}

#venues-list li {
  margin-top: 20px;
  margin-bottom: 20px;
}

#venues-list a {
  text-decoration: none;
  color: #39ac73;
  font-size: 18px;
}

#venues-list a:hover {
  text-decoration: underline;
  color:  #e6008a;
}

#venues-list a:visited {
  color: #75a3a3;
}
