/*Styling for the entire page*/
body {
  font-family: sans-serif;
  z-index: -1;
  position: absolute;
  width: 100%;
  /*overflow: hidden;
  */
}

.ng-hide:not(.ng-hide-animate) {
  display: none!important;
}

ul{
  list-style-type: none;
  margin-left: -30px;
}

a {
  text-decoration: none;
  color: #336600
}

a:visited{
  color: #75a3a3;
}

label {
  padding-right: 50px;
}

.text {
  width: 30%;
  margin-top: 1.5%;
  /*position: absolute;*/
}

nav.tabs{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  width: 240px;
}

nav.tabs a{
  display: inline-block;
  height: 30px;
  margin: 5px;
  padding-top: 25px;
  padding-left: 10px;
  padding-right: 5px;
  background-color: rgba(255, 204, 0, 0.6);
  border-radius: 5px;
}

nav.tabs a:hover{
  color: gray;
}

nav.tabs a:active{
  padding: 5px;
  color: #ff471a;
}

a#link-all {
}

#link-all.active {
  background-color: rgb(230, 184, 0);
}

#new-spot.active {
  background-color: rgb(230, 184, 0);
}

#site-title {
  font-family: 'Special Elite', cursive;
  font-size: 50px;
  width: 300px;
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  text-align: center;
}

#site-subtitle {
  font-family: 'Roboto Condensed', sans-serif;
  width: 600px;
  font-size: 20px;
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

#content-wrapper {
  position:absolute;
  z-index: 0;
  position: absolute;
  width:100%;
}

#art-list {
  margin-left: 25px;
  margin-right: 10px;
}

/*Google Map*/
#google-map {
  height: 700px;
  width: 100%;
  margin-top: 0;
  z-index: 1;
  position: absolute;
  /*margin-top: -25%;*/
}

#map-canvas {
  width: 100%;
  height: 100%;
}

/*Log In*/

/*New and edit forms*/
.form-wrapper {
  margin-left: 25px;
}

#form {
  margin-top: 50px;
  /*position: absolute;*/
}

/*new form*/
.added-alert {
  background-color: lightgreen;
  width: 200px;
  height: 20px;
  border: 0.5px solid green;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

#login {
  float: right;
  margin-right: 30px;
  margin-bottom: 100px;
}

#login-link {
  font-family: 'Roboto Condensed', sans-serif;
  float: right;
  margin-top: 15px;
  margin-right: 40px;
  font-size: 18px;
}
/*#edit-form {
  margin-top: 5%;
}*/

#places-section {
  z-index: 2;
  position: absolute;
  background-color: rgba(235, 235, 224, 0.89);
  border-radius: 5px;
  /*border: 1px solid black;*/
  margin-top: 50px;
  margin-left: 20px;
}

#list-header {
  font-family: 'Roboto Condensed', sans-serif;
}

#place-view.self-active{
  height: 300px;
}
