<div id="art-list">
  <div id="place-view">
    <h1>{{places.single.name}}</h1>
    <p>{{places.single.address}}</p>
    <p>{{places.single.city}}</p>
    <p>{{places.single.zipcode}}</p>
    <p>{{places.single.artInfo}}</p>
    <p>{{places.single.areaInfo}}</p>
    <div ng-show="places.display"><a ui-sref="edit" ng-click="">(edit) | </a><a ng-href="#" ng-click="places.markPlaceVisited()">add to my list of places</a></div>

  </div>

  <div id="places-list">
    <h3 id="list-header">All Art Spots</h3>
    <ul id="venues-list">
      <!--  putting Users COntroller here, nested inside the places controller, to do functions requiring user and place -->
      <li ng-repeat="place in places.all"><a ng-click="places.display = true; places.viewPlace(place)" ng-href="#" ng-class= "{ active: display }">{{place.name}}</a>
        <!-- ng-click="places.viewPlace(place)" ng-href="#" -->
        <!-- ui-sref="single" -->
        <!-- ui-sref="single" -->
        <!-- ng-click="places.viewPlace(place)" ng-href="#" -->
        <!-- ng-change="users.addPlace()" -->
      </li>
    </ul>
  </div>
</div>
