<div id="login">
  <div ng-show="verified=true"><p>hi {{ users.verified.username }}! <a> | log out</a></p></div>

  <form id="login-form" ng-submit="users.loginUser()">
    <div class="login-fields" id="username-div"><strong>Username: </strong><input ng-model="users.single.username" id="username-input"/><div>
    <div class="login-fields" id="password-div"><strong>Password: </strong><input type="password" ng-model="users.single.password" id="password-input"/>
    <button type="submit" id="submit-login">Submit</button><div>
  </form>
</div>

<!-- <button ng-click="users.test()" type="submit" id="test-button">Test token header</button> -->


<!-- <script>
  $('#submit-login').click(function () {
    console.log('clicked submit login')
  })
</script> -->
